<div class="card card-overlay border-0">
  <img class="card-img" src="{{ card_image }}" alt="Title" />
  <div class="card-img-overlay">
    <h4 class="card-title">{{ card_header }}</h4>
    <p class="card-text mb-3">{{ card_text }}</p>
    <a class="btn btn-outline-warning btn-lg" href="{{ card_link }}">
      {{ 'Find out more'|t }}
    </a>
  </div>
</div>
