{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ attach_library('familytree/menu') }}
{{ menus.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <div class="menu-frame-left d-none d-lg-flex align-item-center">
        <img src="/themes/custom/familytree/images/menu_frame_left.svg" />
      </div>
      <div class="menu-frame-center d-lg-flex align-item-center flex-grow-1 justify-content-center">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon mr-1"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="nav navbar-nav">
    {% else %}
      <ul{{ attributes }}>
    {% endif %}
    {% for item in items %}
      {%
        set classes = [
          item.in_active_trail ? 'active-trail',
          item.in_active_trail ? 'menu-item--active-trail',
          menu_level == 0 ? 'nav-item',
        ]
      %}
        {% if item.below %}
          {% set classes = classes|merge(['dropdown']) %}
          <li{{ item.attributes.addClass(classes) }}>
            {{ link(item.title, item.url, { 'class':['dropdown-toggle', 'nav-link'] , 'id': 'dropdown-' ~ menu_level ~ loop.index,'data-bs-toggle':"dropdown", 'aria-expanded':"false" }) }}
            
            {% set dropdownclasses = [
              'dropdown-menu', 
              'border-0',
              'shadow'
            ] %}
            {{ menus.menu_links(item.below, attributes.addClass(dropdownclasses).setAttribute('aria-labelledby', 'dropdown-' ~ menu_level ~ loop.index), menu_level + 1) }}
        {% else %}
          <li{{ item.attributes.addClass(classes) }}>
            {% if menu_level == 1 %}
              {% set title %}
                {{ item.title }}
              {% endset %}
              {{ link(title, item.url, { 'class':['dropdown-item'] }) }}
            {% else %}
              {{ link(item.title, item.url, { 'class':['nav-link'] }) }}
            {% endif %}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
    {% if menu_level == 0 %}
      </div>
      </div>
      <div class="ms-auto menu-frame-right d-none d-lg-flex align-item-center">
        <img src="/themes/custom/familytree/images/menu_frame_right.svg" />
      </div>
    {% endif %}
  {% endif %}
{% endmacro %}
